<!DOCTYPE html>
<html>
<head>
    <title>Baby Sleep Tracker</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Baby Sleep Tracker!</h1>
        <p>Track and monitor your baby's sleep patterns.<br><br><br>
            <a href="{{ url_for('sleep_entry') }}" style="background-color: navy; color: white; padding: 7px 10px; "><center>Enter Arya's sleep data</center></a></a></p>
    </div>
</body>
</html>